.App {
  text-align: center;
  background-color: #282c34;
  color: #61dafb;
  height: 100%;
}

h1 {
  padding: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-add {
  border: none;
  background: transparent;
  color: white;
  outline: none;
  padding: 0;
}

.btn-add:focus {
  outline: none;
}

.counter-value {
  background: #61dafb;
  color: #282c34;
  font-weight: bold;
  font-size: 1rem;
  width: 48px;
  height: 48px;
  display: inline-block;
  padding: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-group-lg {
  width: 170px;
}
